* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body{
  background-color: rgb(247, 244, 244);
}

@media (max-width:1280px) {
  .partners{
    flex-wrap: wrap;

  }
  nav{
    flex-wrap: wrap;
  }
  
  .partners>img{
    margin: 20px;
  }
  .meal-description{
    flex-direction: column;
    gap: 10px;
  }
  .categories{
    flex-wrap: wrap;
    gap: 30px;
  }
  
  
}
@media (max-width:810px){
  .hero{
    flex-direction: column;
  }
  .partners{
    flex-direction: column;
    
    

  }
  .categories{
    /* flex-direction: column; */
    /* width: 50%; */
    gap: 20px;
    align-items: center;
  }
  .category{
    width: 30%;
  }
  .cta-form{
    width: 80%;
  }

  
}
@media (max-width:600px) {
  .categories{
    flex-direction: column;
  }
}