
.meals{
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}
.meals-container{
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
}
.meal{
  display: flex;
  flex-direction: column;
  gap:20px;
  width: 25%;
  justify-content: center;
  padding: 15px;
  /* background-color: rgb(231, 231, 231); */
  align-items: center;
  border-radius: 30px;
  border: .02rem solid rgb(214, 214, 214);
}

.meals-header{
  align-self: center;
  margin-top: 2rem;
  font-size: 2rem;
}
.meal:hover{
background-color: rgb(252, 252, 252);
}
.meal-description{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.meal-description>p{
  font-size: 1.1rem;
}
.meal>img{
  width: 80%;
  border-radius: 2rem;
  border: none;

}
.add-button{
  color: white;
  border-radius: 30px;
  border: none;
  padding: 14px;
  background-color: #e67e22 ;
}
.add-button:hover{
  cursor: pointer;
  background-color: #f79137;
}