nav{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: white;
  color: #2c2c2c;
  border-bottom: 2px solid rgb(230, 227, 227);
  align-items: center;
  position: sticky;
  top: 0;
}
.hamburger{
  display: none;
}
.notifications{
  width: 10%;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 10px;
}
.notifications>img{
  width: 50px;
  border-radius: 70px;
}

.search-bar{
  display: flex;
  gap: 10px;
    width: 50%;
  align-items: center;
}

svg.search-icon{
  width: 20px;
  height: 25px;
  position: absolute;
  padding: 1rem;
  

}
.settings-icon,.notification-icon{
  width: 20%;
  color: rgb(60, 60, 68);
}
.search-bar>input{
  width: 70%;
  padding: 6px;
  border-radius: 10px;
  background-color: rgb(255, 253, 253);
  text-align: center;
}

.notification-icon:hover,.settings-icon:hover{
  cursor: pointer;
  background-color: aliceblue;
  padding: 5px;
}
.nav-links{
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}
.nav-links>a{
  text-decoration: none;
  color: black;
  background-color: rgb(243, 243, 243);
  padding: 1rem;
  border-radius: 10px;

}
.nav-links>a:hover{
  background-color: rgb(216, 195, 163);
  cursor: pointer;

}
.show{
  display: none;
  
  
}