.pricing {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
}
.pricing-header{
  align-self: center;
  padding: 1rem;
  font-size: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  /* width: 10%; */
  padding: 3rem;
  gap: 4rem;
  height: 16rem;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
}
.f-card > button {
  background-color: rgb(190, 193, 193);
  font-size: larger;
}
.pricing-plans{
  display: flex;
  justify-content: space-between;
  width:30%;
  margin: 3rem auto;
  background-color: white;
  padding: 2rem;
  border-radius: 5rem;
  
}
.premium-card{
  background-color: #e67e22;
  color: white;
}
/* .premium-card > h1 {
  color: rgb(255, 255, 255);
} */
.gold-card > h1 {
  color: rgb(172, 122, 4);
}
.premium-card > button {
  /* background-color: white; */
    background-color: #e67e22;
  color: black;
  font-size: larger;
    color: white;

}
.premium-card>button:hover{
      background-color: #ee9e58;

}
.gold-card > button {
  background-color: rgb(172, 122, 4);
  font-size: larger;
}
.card:hover {
  box-shadow: 1px 1px 1px 1px rgb(163, 157, 157);
}
.card > button {
  padding: 12px;
  text-decoration: none;
  /* color: white; */
  border-radius: 15px;
}
.card>button:hover{
  cursor: pointer;
  box-shadow: .5px .5px black;
}

.pricing > p {
  color: rgb(243, 125, 28);
}
.pricing > p:hover {
  text-decoration: underline orange;
  cursor: pointer;
}
.card > ul {
  display: flex;
  flex-direction: column;
}
.card > ul > li {
  list-style-type: none;
}
